$primaryColor: #fff;
$darkenPrimaryColor: #5D7052;
$lightenPrimaryColor: #E6E7E6;
$secondaryColor: #C18845;

@mixin mobile {
    @media screen and (max-width: 480px) {
        @content;
    }
}

@mixin tablet {
    @media screen and (max-width: 768px) {
        @content;
    }
}

@mixin laptop {
    @media screen and (max-width: 1200px) {
        @content;
    }
}