@import './variables';

.chat_settings {
    background-color: $primaryColor;
    height: 100vh;
    padding: 10px;

    &__header {
        display: flex;
        align-items: center;

        &__arrow_back {
            color: white;
            font-size: calc(2rem + .5vw) !important;
            cursor: pointer;
            margin-right: 10px;
        }

        &__title {
            font-size: calc(2rem + .5vw);
            color: white;
        }
    }

    &__rooms {
        &__title {
            color: white;
        }

        &__list {
            &__room {
                display: flex;
                align-items: center;

                &__info {
                    &__name {
                        font-size: calc(1rem + .5vw);
                        color: white;
                    }
                }

                &__delete {
                    color: white;
                    cursor: pointer;
                    margin-left: 10px;

                    &:hover {
                        color: red;
                    }
                }
            }
        }

    }
}