@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
}

.menu {
    z-index: 100;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #5D7052;
    opacity: .9;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    transition-duration: .5s;
    transition-property: transform;
    transform: scale(0);
}

.menu.active {
    transform: scale(1);
}

.menu .close {
    border-radius: 10px;
    margin: 10px;
    position: absolute;
    color: white;
    top: 50px;
    right: 50px;
    width: 50px;
    height: 50px;
    cursor: pointer;
    transition-property: background-color;
    transition-duration: .5s;
}

.left .open {
    width: 50px;
    height: 50px;
    padding: 5px;
    border-radius: 10px;
    margin: 10px;
    transition-property: background-color;
    transition-duration: .5s;
}

.navbar {
    background-color: #5D7052;
    height: 90px;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.navbar .left {
    color: white;
    cursor: pointer;
    position: absolute;
    left: 0;
}

.subtitle {
    font-size: 1.1em;
    font-weight: bold;
    font-family: system-ui;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    color: white;
    transition-property: background-color;
    transition-duration: .5s;
}

.navbar .center .title {
    font-size: 1.5em;
    font-weight: bold;
    font-family: system-ui;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    color: white;
    transition-property: background-color;
    transition-duration: .5s;
}

.navbar .center {
    position: center;
    display: flex;
    flex-direction: row;
}

.navbar .right {
    position: absolute;
    right: 0;
    display: flex;
    flex-direction: row;
}

.navbar .menu .nav-button {
    text-align: center;
    font-size: 2em;
    font-weight: bold;
    color: white;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    transition-property: background-color;
    transition-duration: .5s;
}

.navbar .right .nav-button {
    text-align: center;
    font-size: 1.2em;
    font-weight: bold;
    color: white;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    transition-property: background-color;
    transition-duration: .5s;

}

.title:hover, .subtitle:hover, .nav-button:hover, .provider:hover, .close:hover, .open:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.navbar .icon, .icon {
    transform: scale(1.5);
}

.rectangle-providers {
    position: relative;
    top: -500px;
    width: 40%;
    height: 250px;
    background-color: #C18845;
    margin: 5% auto;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 10px 10px 39px -13px rgba(0, 0, 0, 0.75);
}

.rectangle-providers-creation {
    position: relative;
    top: -625px;
    width: 40%;
    height: 250px;
    background-color: #C18845;
    margin: 5% auto;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 10px 10px 39px -13px rgba(0, 0, 0, 0.75);
}

.container-title-auth .icon-auth, .container-title-auth .icon-auth {
    margin: 5% auto 2% auto;
    transform: scale(1.5);
    color: black;
    overflow-y: hidden;
}

.container-title-auth .title-auth, .container-title-auth .title-auth {
    color: black;
    font-size: 1.5em;
    font-weight: bold;
    overflow-y: hidden;
}

.text-auth {
    color: gray;
    font-size: 1.2em;
    overflow-y: hidden;
}

.providers {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    overflow-y: hidden;
}

.provider {
    margin: 0 5%;
    width: 50px;
    height: 50px;
    cursor: pointer;
    border-radius: 50%;
    padding: 5px;
    transition-property: background-color;
    transition-duration: .5s;
}

.rectangle-auth {
    position: relative;
    top: 250px;
    background-color: #5D7052;
    margin: auto;
    width: 50%;
    height: 550px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.rectangle-auth-creation {
    position: relative;
    top: 250px;
    background-color: #5D7052;
    margin: auto;
    width: 50%;
    height: 650px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.word-auth {
    margin: 20px;
    color: black;
    width: 100%;
    text-align: center;
    font-weight: bold;
    font-size: 1.4em;
}

.form-auth {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 80%;
    justify-content: center;
    align-items: center;
}

.input-auth, .date-picker {
    width: 82%;
    height: 56px;
    margin: 100px;
    background-color: white;
}

.textarea-input {
    width: 82%;
    height: 168px;
    margin: 1%;
    border-bottom: solid 1px;
    background-color: white;
    transition: border;
    transition-duration: .1s;
}

.textarea-input:hover {
    border-bottom: solid 2px;
}

.textarea-input:focus {
    outline: none;
    border-bottom: solid #4977CC 2px;
}

.textarea-input::placeholder {
    color: #666666;
}

.half-input-auth {
    width: 40%;
    background-color: white;

}

.redirect-auth {
    color: black;
    width: 100%;
    margin: 1%;
    text-decoration: underline;
    text-align: center;
    transition-property: opacity;
    transition-duration: .5s;
}

.redirect-auth:hover {
    opacity: 50%;
}

.half-button-auth-accept {
    margin: 5% 1%;
    background-color: #C18845;
    color: white;
    border-radius: 10px;
    width: 40%;
    height: 56px;
    font-weight: bold;
    position: relative;
    transition-property: background-color;
    transition-duration: .5s;

}

.half-button-auth-cancel {
    margin: 5% 1%;
    background-color: #670000;
    color: white;
    border-radius: 10px;
    width: 40%;
    height: 56px;
    font-weight: bold;
    position: relative;
    transition-property: background-color;
    transition-duration: .5s;

}
.btn-home-green {
    margin: 5% 0 0 0;
    background-color: #5D7052;
    color: white;
    border-radius: 10px;
    width: 82%;
    height: 56px;
    font-weight: bold;
    position: relative;
    transition-property: background-color;
    transition-duration: .5s;
    animation: 6s anim-lineUp ease-out;
}


.btn-home-green:hover {
    cursor: pointer;
    background-color: rgba(93, 112, 82, 0.8);
}
.btn-home-brown {
    margin: 5% 0 0 0;
    background-color: #C18845;
    color: white;
    border-radius: 10px;
    width: 82%;
    height: 56px;
    font-weight: bold;
    position: relative;
    transition-property: background-color;
    transition-duration: .5s;
    animation: 6s anim-lineUp ease-out;
}


.btn-home-brown:hover {
    cursor: pointer;
    background-color: rgba(193, 136, 69, 0.8);
}

.btn-auth {
    margin: 5% 0 0 0;
    background-color: #C18845;
    color: white;
    border-radius: 10px;
    width: 82%;
    height: 56px;
    font-weight: bold;
    position: relative;
    transition-property: background-color;
    transition-duration: .5s;
}

.btn-auth:hover, .half-button-auth-accept:hover {
    cursor: pointer;
    background-color: rgba(193, 136, 69, 0.8);
}

.btn-file-download, .btn-request-accept {
    margin: 2% 5%;
    background-color: #5D7052;
    color: white;
    border-radius: 10px;
    min-width: 35%;
    height: 56px;
    font-weight: bold;
    position: relative;
    transition-property: background-color;
    transition-duration: .5s;
}

.btn-request-accept-disabled {
    margin: 2% 5%;
    color: white;
    background-color: gray;
    border-radius: 10px;
    min-width: 35%;
    height: 56px;
    font-weight: bold;
    position: relative;
    cursor: help;
    transition-property: background-color;
    transition-duration: .5s;

}

.btn-file-download:hover, .btn-request-accept:hover {
    cursor: pointer;
    background-color: rgba(93, 112, 82, 0.8);
}

.btn-file-delete, .btn-request-delete {
    margin: 2% 5%;
    background-color: #670000;
    color: white;
    border-radius: 10px;
    min-width: 35%;
    height: 56px;
    font-weight: bold;
    position: relative;
    transition-property: background-color;
    transition-duration: .5s;
}

.btn-file-delete:hover, .half-button-auth-cancel:hover, .btn-request-delete:hover {
    cursor: pointer;
    background-color: rgba(103, 0, 0, 0.8);
}


::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #c0c0c0;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.request-grid {
    display: flex;
    align-items: flex-start;
}

.request-grid .column {
    float: left;
    width: 50%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
}

.auth-grid {
    margin: 8%;
    display: flex;
    border-radius: 10px;
    box-shadow: 10px 10px 39px -13px rgba(0, 0, 0, 0.75);
}

.auth-grid:after {
    content: "";
    display: table;
    clear: both;
}

.container-title-auth {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-direction: column;
}

.auth-grid .column {
    float: left;
    width: 50%;
    padding: 40px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.vertical-bar {
    position: absolute;
    left: 50%;
    border-left: solid 1px;
}

.hero-banner-img {
    object-fit: contain;
}

.text-about {
    margin: 20px 10%;
    font-size: 1.2em;
    text-align: justify;
}

.link-about {
    transition-property: opacity;
    transition-duration: .5s;
    text-decoration: underline;
}

.link-about:hover {
    opacity: .5;
}

.loading-message {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.5em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.rbc-month-view {
    height: 100vh;
}

.file-title {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    font-size: 2em;
    margin-bottom: 2%;
    font-weight: bold;
}

.file-container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.file-item {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: .5%;
    border-radius: 10px;
    box-shadow: 10px 10px 39px -13px rgba(0, 0, 0, 0.75);
}

.file-name, .request-name {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 1%;
}

.file-key, .request-key {
    font-size: 1.4em;
    font-weight: bold;
}

.file-value, .request-value {
    font-size: 1.2em;
    opacity: .8;
}

.edit-value {
    font-size: 1.2em;
    opacity: 1;
    width: 100%;
    border: none;
    border-bottom: solid 1px;
    background-color: transparent;
}

.edit-value:focus {
    outline: none;
}

.file-button, .request-button {
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    width: 100%;
}

.requests {
    padding: calc(60px + 1rem);
}

.request-item {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.request-details-item {
    border-top: solid rgba(0, 0, 0, .1) 1px;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.popup-container {
    overflow-x: hidden;
    width: 600px;
    padding: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.popup-title {
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 2%;
}

.settings-icon-left {
    position: relative;
    top: 0;
    right: -3%;
    left: 3%;
    cursor: pointer;
    transform: scale(1.2);
    color: black;
}

.settings-icon-right {
    position: relative;
    top: 0;
    right: 3%;
    left: -3%;
    cursor: pointer;
    transform: scale(1.2);
    color: black;
}

.settings-icon:hover {
    opacity: .5;
}

.home-main-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    height: calc(100vh - 90px);
}

.home-main-container .column {
    width: 50%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}

.home-main-container .column .row {
    margin-top: 5%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
}

.home-main-container .column .row .column {
    width: 40%;
    display: flex;
    flex-direction: column;
}

.home-main-separator {
    position: absolute;
    right: 0;
    top: 90px;
    width: 100vw;
    height: calc(100vh - 90px);
    background: linear-gradient(to left bottom, #5D7052 50%, rgba(0, 0, 0, 0) 50.1%);
    z-index: -1;
}

.home-main-title {
    font-size: 3vw;
    font-weight: bold;
    animation: 2s anim-lineUp ease-out;
}

.home-main-p {
    font-size: 1.5vw;
    animation: 4s anim-lineUp ease-out;
}

.home-main-key {
    font-size: 2vw;
    font-weight: bold;
    animation: 4s anim-lineUp ease-out;

}

.home-main-value {
    font-size: 1.2vw;
    animation: 6s anim-lineUp ease-out;
}

.home-main-image {
    border-radius: 10px 0 0 10px;
    background-color: #5D7052;
}

.icon-accordion {
    width: 50px;
    height: 50px;
    margin: 0 15%;
}

.filter-types {
    display: flex;
    width: 60%;
    flex-direction: row;
    justify-content: space-between;
}

.filter-types li {
    list-style-type: none;
    color: grey;
    cursor: pointer;
}

.filter-types li:hover {
    color: black;
}

.filter-types li.active {
    color: black;
    border-bottom: solid 1px black;
}

@keyframes anim-lineUp {
    0% {
        opacity: 0;
        transform: translateY(80%);
    }
    20% {
        opacity: 0;
    }
    50% {
        opacity: 1;
        transform: translateY(0%);
    }
    100% {
        opacity: 1;
        transform: translateY(0%);
    }
}
