@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.navbar {
    background-color: #5D7052;
    height: 90px;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.navbar .left {
    position: absolute;
    left: 0;
}

.navbar .left .title {
    font-size: 1.5em;
    font-weight: bold;
    font-family: system-ui;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    color: white;
    transition-property: background-color;
    transition-duration: .5s;
}

.navbar .right {
    position: absolute;
    right: 0;
    display: flex;
    flex-direction: row;
}

.navbar .right .nav-button {
    font-size: 1.1em;
    font-weight: bold;
    color: white;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    transition-property: background-color;
    transition-duration: .5s;
}

.title:hover, .nav-button:hover, .provider:hover {
    background-color: rgba(0,0,0,0.1);
}

.navbar .icon {
    transform: scale(1.5);
}

.rectangle-providers {
    position: relative;
    top: -500px;
    width: 40%;
    height: 250px;
    background-color: #C18845;
    margin: 5% auto;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 10px 10px 39px -13px rgba(0,0,0,0.75);
}

.rectangle-providers-creation {
    position: relative;
    top: -625px;
    width: 40%;
    height: 250px;
    background-color: #C18845;
    margin: 5% auto;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 10px 10px 39px -13px rgba(0,0,0,0.75);
}

.rectangle-providers .icon-auth, .rectangle-providers-creation .icon-auth {
    margin: 5% auto 2% auto;
    transform: scale(1.5);
    color: white;
    overflow-y: hidden;
}

.rectangle-providers .title-auth, .rectangle-providers-creation .title-auth {
    color: white;
    font-size: 1.5em;
    font-weight: bold;
    overflow-y: hidden;
}

.providers {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    overflow-y: hidden;
}

.provider {
    margin: 50px 30px;
    cursor: pointer;
    border-radius: 50%;
    padding: 5px;
    transition-property: background-color;
    transition-duration: .5s;
}

.rectangle-auth {
    position: relative;
    top: 250px;
    background-color: #5D7052;
    margin: auto;
    width: 50%;
    height: 550px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.rectangle-auth-creation {
    position: relative;
    top: 250px;
    background-color: #5D7052;
    margin: auto;
    width: 50%;
    height: 650px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.word-auth {
    position: relative;
    top: 6%;
    color: white;
    font-weight: bold;
    font-size: 1.4em;
}

.form-auth {
    position: relative;
    top: 8%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 80%;
    justify-content: center;
    align-items: center;
}

.input-auth {
    border-radius: 10px;
    width: 82%;
    height: 56px;
    margin: 100px;
    background-color: white;
}

.half-input-auth {
    border-radius: 10px;
    width: 40%;
    margin: 5%;
    height: 56px;
    background-color: white;

}

.redirect-auth {
    position: relative;
    bottom: -15%;
    color: white;
    transition-property: opacity;
    transition-duration: .5s;
}

.redirect-auth:hover {
    opacity: 50%;
}

.btn-auth {
    margin: 5% 0 0 0;
    background-color: #C18845;
    color: white;
    border-radius: 10px;
    width: 82%;
    height: 56px;
    font-weight: bold;
    position: relative;
    transition-property: background-color;
    transition-duration: .5s;
}

.btn-auth:hover {
    cursor: pointer;
    background-color: rgba(193, 136, 69, 0.8);
}


::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}