@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.navbar {
    background-color: #5D7052;
    height: 90px;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.navbar .left {
    position: absolute;
    left: 0;
}

.navbar .left .title {
    font-size: 1.5em;
    font-weight: bold;
    font-family: system-ui;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    color: white;
    transition-property: background-color;
    transition-duration: .5s;
}

.navbar .right {
    position: absolute;
    right: 0;
    display: flex;
    flex-direction: row;
}

.navbar .right .nav-button {
    font-size: 1.1em;
    font-weight: bold;
    color: white;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    transition-property: background-color;
    transition-duration: .5s;
}

.title:hover, .nav-button:hover {
    background-color: rgba(0,0,0,0.1);
}

.navbar .icon {
    transform: scale(1.5);
}